---
import Head from "@/components/common/Head.astro";

interface Props {
	title: string;
	description: string;
}

const { title, description } = Astro.props;
---

<!doctype html>
<html lang="en">
	<Head title={title} description={description} />

	<body
		class="relative grid min-h-dvh grid-rows-[auto_1fr] overflow-x-hidden overflow-y-auto bg-zinc-50 font-sans text-zinc-900 antialiased selection:bg-zinc-300 selection:text-zinc-900 dark:bg-zinc-950 dark:text-zinc-100 dark:selection:bg-zinc-700 dark:selection:text-zinc-50"
	>
		<header
			class="z-40 row-start-1 border-b border-zinc-200/50 bg-white/70 backdrop-blur-md dark:border-zinc-800/50 dark:bg-zinc-950/70"
		>
		</header>

		<main class="row-start-2 flex flex-col z-10">
			<slot />
		</main>
	</body>
</html>
